server {
    listen 8000;

    location /api {
        proxy_pass ${BACKEND_HOST}/api;
    }

    root /usr/share/nginx/html;

    gzip on;
    gzip_comp_level 4;
    gzip_types text/html text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
}
