* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #3f4a57;
  background: #f4f6fa;
}

.container {
  position: relative;
  padding: 10px;
}

.elm-overlay {
  z-index: 300;
}

header {
  background: #6081e7;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 30px;
}

ul li {
  list-style-type: none;
}

.dashboard__top {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
  .dashboard__top {
    flex-wrap: nowrap;
  }
}

.dashboard__bottom {
  position: relative;
  z-index: 200;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .dashboard__bottom {
    justify-content: space-between;
  }
}

.cards {
  display: flex;
}

.card {
  width: calc(100% - 20px);
  margin: 10px;
  background: #ffffff;
  box-shadow: 0 20px 40px 0 #d5dae4;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 500px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: calc(25% - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: calc(20% - 20px);
  }
}

.card--big {
  position: relative;
  width: 100%;
  /* height: 50vh; */
  height: 510px;
  padding: 20px;
  text-align: left;
}

.card--graph {
  flex: 2;
  padding: 0;
  overflow: hidden;
}

.card--engagement {
  flex: 1;
}

.card--feedback {
  flex: 1.5;
  overflow: hidden;
}

.card--feedback::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 100;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, white, transparent);
}

.elm-plot__series {
  stroke-width: 7px;
}

@media screen and (max-width: 700px) {
  .card--feedback {
    height: auto;
  }
}

.card--red .card__header {
  background: #e55449;
}

.card--yellow .card__header {
  background: #e88934;
}

.card--green .card__header {
  background: #35b66f;
}

.card__header {
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #6081e7;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .card__header {
    font-size: 16px;
  }
}

@media screen and (min-width: 1800px) {
  .card__header {
    font-size: 24px;
  }
}

.card__title {
  margin-bottom: 0.75rem;
}

.card__body {
  margin: 1rem 0;
  font-size: 2rem;
}

@media screen and (min-width: 1200px) {
  .card__body {
    font-size: 50px;
  }
}

@media screen and (min-width: 1800px) {
  .card__body {
    font-size: 75px;
  }
}

.feedback__answer {
  margin-bottom: 20px;
}

.feedback__timer {
  position: absolute;
  z-index: 200;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #ccd3e5;
  animation-name: timer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes timer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.engagements {
  list-style-position: inside;
}

.engagements-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.engagements-item:nth-child(even) {
  background: rgba(150, 150, 150, 0.1);
}

.engagements-item__index {
  margin-right: 10px;
}

#elm-plot {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback__replies {
  padding-left: 0.5rem;
  border-left: 5px solid rgba(204, 211, 229, 0.34);
  font-style: italic;
}

.feedback__reply {
  margin-bottom: 0.75rem;
}

.feedback__tags {
  margin-bottom: 1rem;
}

.feedback__tag {
  margin: 0 0.4rem 0.4rem 0;
  background: #5f80e7;
  color: white;
  text-transform: uppercase;
  font-size: 80%;
  padding: 0.2rem 0.6rem;
  display: inline-block;
  border-radius: 2rem;
}
