* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #3f4a57;
  background: #f4f6fa;
}

.container {
  position: relative;
  padding: 10px;
}

.elm-overlay {
  z-index: 300;
}

header {
  background: #6081e7;
  color: white;
  padding: 15px;
}

h1 {
  font-size: 30px;
}

ul li {
  list-style-type: none;
}

.dashboard__top {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
  .dashboard__top {
    flex-wrap: nowrap;
  }
}

.dashboard__bottom {
  position: relative;
  z-index: 200;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .dashboard__bottom {
    justify-content: space-between;
  }
}

.cards {
  display: flex;
}

.card {
  width: calc(100% - 20px);
  margin: 10px;
  background: #ffffff;
  box-shadow: 0 20px 40px 0 #d5dae4;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 500px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: calc(25% - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: calc(20% - 20px);
  }
}

.card--graph {
  flex: 2;
  height: 100%;
}

.card--engagement {
  flex: 1;
}

.card--feedback {
  flex: 1.5;
}

.card--big {
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 20px;
  text-align: left;
  overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  .card--feedback {
    height: auto;
  }
}

.card--red .card__header {
  background: #e55449;
}

.card--yellow .card__header {
  background: #e88934;
}

.card--green .card__header {
  background: #35b66f;
}

.card__header {
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #6081e7;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .card__header {
    font-size: 16px;
  }
}

@media screen and (min-width: 1800px) {
  .card__header {
    font-size: 24px;
  }
}

.card__title {
  margin-bottom: 20px;
}

.card__body {
  margin: 20px 0;
  font-size: 30px;
}

@media screen and (min-width: 1200px) {
  .card__body {
    font-size: 50px;
  }
}

@media screen and (min-width: 1800px) {
  .card__body {
    font-size: 75px;
  }
}

.feedback__answer {
  margin-bottom: 20px;
}

.feedback__timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #ccd3e5;
  animation-name: timer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes timer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.engagements {
  list-style-position: inside;
}

.engagements-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.engagements-item:nth-child(even) {
  background: rgba(150, 150, 150, 0.1);
}

.engagements-item__index {
  margin-right: 10px;
}

#elm-plot {
  height: 100%;
}
